<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.38kta.autosave-ghq</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/REPLACE_ME/src/github.com/38kta-lab/dotfile/scripts/autosave-ghq.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>20</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/autosave-ghq.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/autosave-ghq.err</string>
  </dict>
</plist>
